manifest {
    description = 'NIM-Mseq(Nanopore Informatics for Metagenomics of Microbial sequences) - Identification , assemlby and align of pathogen genomes using fastq Nanopore metagenomic sequencing  data'
    author = 'Risha Rasheed'
}


profiles {
	standard {
	    params{
			inputDir = "/home/risha_rasheed88/input/data_validation/test/"
			Demultiplex = true
			filter_rocess = true
			bwa_process = true 
			silva_process = true
			quality_process = true
			kraken2_process = true
			kraken2_DB2 = true
			blastn_process = true
			blast_ref_search = true
			mapping_process = true
			report_pathogen = true
			consensus_process = true
			mapQ = 50
			
			}
		process{
            errorStrategy = 'retry'
            maxErrors = 1
			}
        env {
			outputDir = "/home/risha_rasheed88/output/nextflow/test"
			threads=16
			human_g1k="/home/risha_rasheed88/human/human_g1k_v37.fasta"
			silva_db="/home/risha_rasheed88/silva_db/SILVA.fasta"
			KRAKEN2_DB="/home/risha_rasheed88/kraken2_db"
			KRAKEN2_DB2="/home/risha_rasheed88/kraken2_parasite_db"
			BLAST_db_nrnt="/home/risha_rasheed88/blast_db/nt/nt"
			BLAST_Fasta_nt="/home/risha_rasheed88/blast_fasta/nt"
			guppy = "/home/risha_rasheed88/ont-guppy-cpu/bin"	
			projDir = "/home/risha_rasheed88/nextflow/bin"
			BLASTDB="$BLASTDB:/home/risha_rasheed88/blast_db/nt/"

			
        }
    }

}   
